# Terraform
.terraform/
.terraform.lock.hcl

# Terraform State
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup

# Plan Files
*.tfplan
*.plan

# Variable Files containing secrets
*.auto.tfvars


# Crash Logs
crash.log
crash.*.log

# Override Files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive Files
*.pem
*.key
*.pfx
*.cer

# VS Code
.vscode/

# IntelliJ
.idea/

# Windows
Thumbs.db
Desktop.ini